# Environment variables
.env
.firebaserc
firebase.json
firestore.rules
firestore.indexes.json
storage.rules


.firebase/
# Dependencies
node_modules/

# Build files
.next/
.vercel/

# Lock files
package-lock.json
yarn.lock
todo.md
