@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  font-family: monospace !important;
  overflow-y: hidden;
  overflow-x: hidden;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.char{
  transform:translateY(115px);
  transition: transform .5s;
  line-height: 3.9rem;
} 
.clipPath{
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.content{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.7);
}

.Name-color{
  color:rgb(230, 235, 255);
  font-family: 'Raleway', sans-serif;
}
.text-color{
  color:rgb(136 145 176);
}

.tabs-content{
background-color: transparent !important;
}